# Keycloak
{$DOMAIN_KEYCLOAK}:443 {
  log {
    level INFO
    output file {$LOG_PATH_KEYCLOAK} {
    roll_size 10MB
    roll_keep 10
    }
  }
  tls {$TLS_EMAIL_KEYCLOAK}
  encode gzip

  reverse_proxy {$HOSTNAME_KEYCLOAK}
}

# Nuxt
# 注: Dockerコンテナを`3030`等で起動していても、HOSTNAME_NUXTは`3000`を指定しないとリバースプロキシが動作しなかった
{$DOMAIN_NUXT}:443 {
  log {
    level INFO
    output file {$LOG_PATH_NUXT} {
    roll_size 10MB
    roll_keep 10
    }
  }
  tls {$TLS_EMAIL_NUXT}
  encode gzip

  reverse_proxy {$HOSTNAME_NUXT}
}